<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="com.google.eclipse.protobuf.cdt.cEditorPopup"
            targetID="#CEditorContext">
         <action
               class="com.google.eclipse.protobuf.cdt.ProtobufCdtExecutableExtensionFactory:com.google.eclipse.protobuf.cdt.actions.OpenProtoDeclarationAction"
               icon="icons/pb.gif"
               id="com.google.eclipse.protobuf.cdt.openProtoDeclaration"
               label="Open Declaration in .proto File"
               menubarPath="group.open"
               style="push">
         </action>
      </viewerContribution>
   </extension>

</plugin>
